<section>
	<div class="title-box-2">
		<label>API documentation</label>
	</div>
	<div>
		<p>The API must contain mandatory 2 resources and 1 optional. Find the specification of the web services below:</p>
		<div class="margin-top">
			<label class="title-3">POST api/championship/result</label>
			<p>Stores the first and second place of a tournament, each user is stored with their respective scores. The user names will be unique, but the same user can win 1 or more championships. Returns the operation status if successfully.</p>
			<div class="margin-top">
				<label>Resource information:</label>
				<div><label>Resource URL:</label> /api/championship/result</div>
				<div><label>HTTP Method:</label> POST</div>
				<div><label>Response format:</label> JSON</div>
				<label>Parameters:</label>
				<ul>
					<li><span class="font-code">first(required):</span> The name of the winner of the championship. Example: <span class="font-code">Dave</span></li>
					<li><span class="font-code">second(required)</span> The name of the second place of the championship. Example: <span class="font-code">Armando</span></li>
				</ul>
			</div>
			<label>Example Request</label>
			<div class="code-box font-code">
				<p>POST https://fauricio.scalingo.io/api/championship/result</p>
				<p>POST Data first=Dave&amp;second=Armando</p>
			</div>
			<label>Example Output</label>
			<div class="code-box font-code">
				<div>{</div>
				<div>&nbsp;&nbsp;&nbsp;status: 'success'</div>
				<div>}</div>
			</div>
		</div>
		<div class="margin-top">
			<label class="title-3">GET api/championship/top</label>
			<p>Retrieves the top players of all championships. Returns the list of player names based on the count provided.</p>
			<div class="margin-top">
				<label>Resource information:</label>
				<div><label>Resource URL:</label> /api/championship/top</div>
				<div><label>HTTP Method:</label> GET</div>
				<div><label>Response format:</label> JSON</div>
				<label>Parameters:</label>
				<ul>
					<li><span class="font-code">count(optional):</span> Sets the count of records to be retrieved. If not provided, the default value is 10. Example: <span class="font-code">123</span></li>
				</ul>
			</div>
			<label>Example Request</label>
			<div class="code-box font-code">
				<p>GET https://fauricio.scalingo.io/api/championship/top?count=10</p>
			</div>
			<label>Example Output</label>
			<div class="code-box font-code">
				<div>{</div>
				<div>&nbsp;&nbsp;&nbsp;players: ["Dave", "Armando", "Robert"]</div>
				<div>}</div>
			</div>
		</div>
		<div class="margin-top">
			<label class="title-3">(Optional) POST api/championship/new</label>
			<p>Receives the championship data and computes it to identify the winner. The first and second place are stored into a database with their respective scores. Returns the winner of the championship.</p>
			<div class="margin-top">
				<label>Resource information:</label>
				<div><label>Resource URL:</label> /api/championship/new</div>
				<div><label>HTTP Method:</label> POST</div>
				<div><label>Response format:</label> JSON</div>
				<label>Parameters:</label>
				<ul>
					<li><span class="font-code">data(mandatory):</span> The data of the championship following the bracketed array standard. Example: <span class="font-code">[["Armando", "P"],["Dave", "S"]]</span></li>
				</ul>
			</div>
			<label>Example Request</label>
			<div class="code-box font-code">
				<p>POST https://fauricio.scalingo.io/api/championship/new</p>
				<p>POST Data data=[["Armando", "P"],["Dave", "S"]]</p>
			</div>
			<label>Example Output</label>
			<div class="code-box font-code">
				<div>{</div>
				<div>&nbsp;&nbsp;&nbsp;winner: ["Dave", "S"]</div>
				<div>}</div>
			</div>
		</div>
	</div>
</section>